html {
    display: inline-block;
    background-color: black;
    color: white;


}

button {
    border: 1px solid transparent;
    font-size: 14px;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
    background: #5AF;
    color: black;
    text-align: center;
    margin: 2.5px;
    min-width: 71px;

}

button:hover {
    background: #55c9ff;
}



#website {
    text-align: center;
    color: white;
}


.flex {
    display: flex;
    justify-content: flex-end;
}



#remove-saved-site,
#add-excluded-site {
    display: none;
}

#add-saved-site {
    display: none;
}

#remove-excluded-site {
    display: none;
}



#openOptionsPage {
    color: "red";
    width:147px;
    
}



.toggle {
    appearance: none;
    width: 71px;
    height: 32px;
    position: relative;

    border-radius: 50px;
    overflow: hidden;

    cursor: pointer;
    background-color: #808080;

}