html {
    display: inline-block;
    background-color: black;
    color: white;


}

.site-name {
    text-align: center;
    color: white;
}


.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#excluded-container {
    margin-left: 10px;
}








.show {
    display: block;
}


.add-remove-container .save-button {
    display: inline-block;
}

.add-remove-container .clear-button {
    display: none;
}

.add-remove-container--remove .save-button {
    display: none;
}

.add-remove-container--remove .clear-button {
    display: inline-block;
}

.save-button {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0;
    width: 100%;
}








.manage-sites {
    color: #5AF;
    text-decoration: none;
}

.manage-sites:hover,
.manage-sites:focus {
    color: #1587C6;
    text-decoration: underline;
}

.toggle {
    appearance: none;
    width: 62px;
    height: 32px;
    position: relative;

    border-radius: 50px;
    overflow: hidden;

    cursor: pointer;
    background-color: #808080;

}