button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background: #5AF;
    color: black;
    text-align: center;
}

button:hover {
    background: #55c9ff;
}

#protected-message {
    display: none;
    width: 200px;
}

.show {
    display: block !important;
    text-align: center !important;
}

.hidden {
    display: none;
}

.red {
    background-color: #F55;
    text-align: center;
}

.red:hover {
    background-color: #ff6464;
}