button {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    background: #5AF;
    color: black;
    text-align: center;



}

button:hover {
    background: #55c9ff;
}

.show {
    display: block !important;
    text-align: center !important;
}




.red {
    background-color: #F55;
    text-align: center;
}

.red:hover {
    background-color: #ff6464;
}




#this-tab-toggle:before {
    content: "tab";
}

#all-sites-toggle:before {
    content: "all";
}

.toggle:before {
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    background: white;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    font: 10px/28px Helvetica;
    text-transform: uppercase;
    font-weight: bold;
    text-indent: 4px;

    color: black;
}

.toggle:checked {
    background-color: #1bb76e;
}

.toggle:checked:before {
    left: 41px;
}